body {border:0;font-weight: normal;background-color:#F6F6F6 ;overflow:auto;color:black;
font-size:1em;font-weight:normal;line-height: 1.4;font-family: 'Lato', sans-serif;
padding: 0;margin: 0;}

h1{font-size:1.3em;}
h2{font-size:1.7em;}
h3{font-size:2.3em;}
h4{font-size:3.1em;}
h5{font-size:4.1em;}
h6{font-size:5.5em;}

.logo {text-align:left;display:inline-block;font-size: 1em;line-height: normal;
color:black;word-spacing:1px;font-weight:bolder;font-family:'Lato',sans-serif;margin-left:3%;}
.web-icon {font-size:0.7em;margin-top:2%;display:inline-block;}

.navbar {margin-bottom:2%;height:5px;margin-top:2%;padding-bottom:42px;
margin-left:15%;margin-right:15%;font-size:1em;}
.main-icon {font-size:0.3em;}
.i-logo {font-size:1.7em;line-height: 50px;display: inline-block;vertical-align: bottom;
font-weight:bolder;line-height: inherit;}

@font-face{font-family:Vtks;src:url(/static/media/css/vtks_giz.ttf);}
@font-face{font-family:Handwriting;src:url(/static/media/css/regular_brush.ttf);}

/* nav */
/*.nav-styles {border-bottom:2px solid #DE1B1B;width:80%;}*/
.nav {position: relative;margin: 30px 15px 0 0;text-align:right;}.nav ul {margin: 0;padding: 0;}

.nav li {margin:0 5px 10px 0;padding:0;list-style:none;margin-top:5px;display: inline-block;}

.nav a {padding: 3px 12px;text-decoration: none;color: #0083ff;
line-height: 100%; font-size: 1.3em;font-family: 'Fenix', serif;}

.nav a:hover {border-radius:5px;padding: 4px;border:2px solid #F08080;}.nav a:visited{color: #7eccd4;}.nav .current a {padding: 4px;border-bottom:3px solid #DE1B1B;}

/* media queries to accomodate iPad */

@media screen and (max-width: 600px) {
.footer-nav {display:none;}
.content-area{margin-left:5%;margin-right:5%;color:black;font-size:135%;font-weight:normal;}
.nav {position: relative;min-height: 40px;}	
.nav ul {width: 180px;padding: 5px 0;position: absolute;top: 0;left: 0;
background: #fff; url(/.../img/png/glyphicons_156_show_thumbnails_with_lines.png) no-repeat 10px 11px;border-radius: 5px;margin-left:1%;}

.nav li {display: none;margin: 0;}.nav .current {display: block;}
.nav a {display: block;padding: 5px 5px 5px 32px;text-align: left;}
.nav .current a {background: none;}

/* on nav hover */
.nav ul:hover {background-image: none;}.nav ul:hover li {display: block;margin: 0 0 5px;}
.nav ul:hover .current {background: url(/static/img/png/glyphicons_157_showlines.png) no-repeat 10px 7px;}

/* center nav  */
.nav.center ul {left: 50%;margin-left: -90px;border-bottom:3px solid #666;}img {width: 100%;}

/* background img */
img.bg {min-height: 100%;min-width: 1024px; width: 100%;height: auto;position: fixed;top: 0;
left: 0;}

@media screen and (max-width: 1024px) { img.bg {left: 50%;margin-left: -512px;   /* 50% */
  }
}

/* tablets */
@media screen and (max-width: 16px) { footer-nav {display:none; }  /* 50% */
  }
}

/*titles  */
.main-copy-title {padding: 2px;color:#B7A85C;font-weight:normal;font-size: 4.5em;text-align: center;line-height: normal;margin-top:5%;margin-bottom:3%;font-family: Vtks, serif;}

.main-copy-txt {font-family:Handwriting,sans-serif;text-align:center;font-size:1.5em;font-weight:normal;border-bottom:1px solid #6A6A68;}

.simple-title {padding: 2px;color:#B7A85C;font-weight:normal;font-size: 2em;text-align: center;line-height: normal;margin-top:5%;font-family: 'Fenix', serif;}

.padded-title {padding: 2px;font-weight:normal;font-size: 2em;text-align: center;line-height: normal;margin-top:5%;font-family: 'Fenix', serif;border-top:1px solid #6A6A68;border-bottom:1px solid #6A6A68;}

.movie-title{font-weight:bold;font-size: 1em;text-align: center;line-height: normal;text-align:center;opacity: 0.5; font-family: 'Lato', sans-serif;}

.title {font-weight:normal;font-size: 2em;text-align: center;line-height: normal;font-family: 'Fenix', serif;}

p { margin: 20px 0;margin-bottom:1%; }

/* Sections */

.main {margin-left:5%;margin-right:5%;} .adjusted{margin-left:3%;}

.common {border-radius:5px;margin-top:1%;margin-bottom:8%;font-weight:normal;padding:5px;margin-left:5%;margin-right:5%;}

.regular-section {color:black;border:2px solid #eee;background-color:white;padding:10px;}
.story {margin:4% 10% 4% 10%;}
.story-header {text-align:center;margin-top:2%;}



.paragraph {font-size:1em;line-height:normal;margin-top:3%;margin-bottom:3%;padding:5px;margin-left:5%;margin-right:5%;}
.comment {display: inline-block;margin-bottom: 3%;border-bottom:2px solid #eee;}
.commentImg{display: inline-block;width: 80px;height: 80px;border-radius: 40px;line-height: 80px;margin-bottom:1%;-webkit-border-radius:40px;-moz-border-radius:40px;-webkit-background-clip: padding-box; -moz-background-clip:padding;
background-clip:padding-box;margin-top:2%;}
.comment-form{border-top:3px solid #eee;margin-top:2%;margin-bottom:5%;}
.comment-stamp {display: inline-block;vertical-align: bottom;}

.textblock {margin-left:5%;margin-right:5%;} .handwritten{font-family:Handwriting,sans-serif;text-align:center;font-size:1.5em;font-weight:normal;}
.micro-copy {font-size:0.8em;line-height:inherit;}

.footer {background-color:#f1e7d4;color:#B7A85C;font-size:0.8em;border-top:5px solid white;}

/* Cards */ 

#columns {width:30%;border-radius:5px;float:center;}

 div#columns{background-color:#2B2B2B;color:white;box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);margin:2% 1% 2% 1%;transition: opacity .4s ease-in-out;column-break-inside: avoid;
 display: inline-block;font-family:'Lato', sans-serif;
}
div#columns figure img{
width: 100%; height:200px;

}

.review {padding-left:15px;padding-right:15px;font-size:1em;font-weight:normal;font-family: 'Lato', sans-serif;
margin-bottom:4%;}

.floatingCard{background-color:#2B2B2B;color:white;font-size:large;text-align:center;border-top:1px solid #C9E581;border-bottom:1px solid #C9E581;padding:5px;border-radius:5px;
border:none;border-bottom:25% solid #2B2B2B;}


.noReview{font-size:larger;text-align:center;margin:5% 35% 5% 35%;} 

.posterCard {width:100%;height:200px;}
.mainPoster {width:100%;height:100%;}
.authorImg{display: inline-block;width: 80px;height: 80px;border-radius: 40px;line-height: 80px;margin-bottom:1%;-webkit-border-radius:40px;-moz-border-radius:40px;-webkit-background-clip: padding-box; -moz-background-clip:padding;
background-clip:padding-box;}
.author{margin-top:5%;margin-left:45%;margin-top:1px solid #eee;}

.loginCard{background-color:#2B2B2B;margin:2% 27% 5% 27%;border-top:25px solid #2B2B2B;border-bottom:45px solid #2B2B2B;border-radius:5px;}
.wideCard {background-color:#2B2B2B;margin:2% 13% 5% 13%;border-top:25px solid #2B2B2B;border-bottom:45px solid #2B2B2B;border-radius:5px;}


/* buttons */


.button {color:white;background-color:#329685;border-radius:5px;width:80%;
height:2em;padding:5px;margin-top:2%;margin-bottom:1%;font-size:large;margin-left: 9%;
border:none;font-weight:bolder;}
.button:hover{background-color: #aae3c7;padding-top: 4px;}

.comment-button {color:white;background-color:#329685;border-radius:5px;width:50%;
height:2em;padding:5px;margin-top:2%;margin-bottom:1%;font-size:large;margin-left: 25%;
border:none;font-weight:bolder;}
.comment-button:hover{background-color: #aae3c7;padding-top: 4px;}


.action-button{margin-top:5%;padding:10px;border-radius:5px;background-color:#69cd6c;width:20%;margin-left:40%;}
.action-button:link {color:white;font-weight:bolder;}
.action-button:hover {padding-top:4px;background-color:#a5e1ae;}

.ratings {background-color:#C9E581;color:black;font-weight:bolder;padding: 2px;width:50%;height:1.7em;
text-align:center;margin-left:25%;display: inline-block;vertical-align: bottom;}

.social-buzz {background-color:grey;width:90%;color:black;border-radius:5px;
font-size:1em;padding: 4px;margin-left:5%;}
.bz-item{color:black;font-size:0.8em;padding: 4px;display: inline-block;vertical-align: bottom;
font-weight:bolder;line-height: inherit;
}
.liker:link {color:black;}
.liker:focus {background-color:black;text-decoration:none;}
.liker:hover {text-decoration:none;padding: 4px;}
.liker:visited {color:black;text-decoration:none;}
.liker:active {padding-top: 2px;text-decoration:none;}

.action-call {border-radius:5px;font-size:1.2em;padding:10px;float:center;
margin-left:33%;margin-top:3%;border:4px solid red;margin-bottom:3%;
font-weight:bolder;}
.action-call,a:link {color:white;}

/* Images:if there will be any */

/* alignment */
.align-right {float:right;}.align-center {display:inline-block;text-align: center;}
.align-left {float:left;}.rightside {margin-left:30%;} .centerpiece{text-align:center;}
.topped{border-top:1px solid #eee;width:10%;} .bottomed{border-bottom:1px solid #eee;width:60%;} .adjusted-centr {margin-left:58%;} .navAdjust{margin-right:8%;}


/* Link States */
a:link {color: #0083ff;font-weight: bolder;text-decoration:none;}
a:focus {background-color:red;text-decoration:none;}
a:hover {border-bottom: 1px solid #DE1B1B;text-decoration:none;padding: 4px;}
a:visited {color:#7eccd4;text-decoration:none;}
a:active {color:#DE1B1B;padding-top: 2px;text-decoration:none;}

.links{margin:2%;line-height:normal;text-decoration:none;}
.neutral-lnk{border-radius:5px;border:1px solid white;background-color:white;padding:10px;width:10%;}





/* Forms */

.adjust {margin-left:85%;}
.form-section {border-radius:5px;margin-top:1%;margin-bottom:8%;font-weight:normal;margin-left:25%;margin-right:25%;color:black;font-weight:normal;}

.simple-form {text-align:center;margin-top:2%;margin-bottom:1%;width:50%;margin-left:25%;margin-right:25%;}

.login {border-radius:5px;margin-top:1%;margin-bottom:8%;font-weight:normal;padding:5px;margin-left:13%;margin-right:5%;color:black;font-size:0.9em;font-weight:normal;}

.centered-form {border-radius:5px;margin-top:1%;margin-bottom:8%;font-weight:normal;padding:5px;margin-left:23%;margin-right:23%;
font-weight:normal;}


.align-field {margin-left:9%;font-family: 'Lato', sans-serif;margin-top:4%;color:white;}.short{width:50%;}

.pure-adjusted {margin-left:18%;} .widener {margin-left:18%;width:80%;color:black;}

.blank {display:none;}

 .extreme-align{margin-left:15%;magin-top:4%;}
.select-field {background: transparent; width: 30%;padding: 10px;font-size:1em;line-height: 1;border-radius: 5px;height:80px;margin-left:38%;display: inline-block;background-color:black;color:white;-webkit-border-radius:5px;-moz-border-radius:5px;}
.checkbox {border-radius:5px;border:1px solid #333333;padding:8px;margin-left:8%;margin-right:8%;-webkit-border-radius:5px;-moz-border-radius:5px;}

.choices {background-color:#333333;color:white;border:1px solid #333333;width:30%height:15px;padding:5px;margin-left:50%;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}

.alt-choices {background-color:#333333;color:white;border:1px solid #333333;width:30%height:15px;padding:5px;margin-left:45%;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-weight:bolder;}

.fileUpoad {background-color:#333333;color:white;border:1px solid #333333;text-align:center;
height:25px;padding:5px;border-radius:5px;width:80%;-webkit-border-radius:5px;-moz-border-radius:5px;
margin-bottom:4%;}

.editor {height:750%;width:60%;}


input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px black inset;}

body fieldset {margin: 0;padding: 0;border: none;float:center;}
body form {margin: 0;color:black;width:100%;}
body form label {font-size: 1em;}
/*margin-bottom: .5em;margin-top: .5em;*/

body form input[type='text'],body form input[type="password"]
 {padding: .7em;margin-bottom: .5em;width:80%;margin-left:8%;border-radius:5px;
display: block;border:1px solid #333333;background-color:black;color:white;-webkit-border-radius:5px;-moz-border-radius:5px;}

body textarea {padding: .7em;margin-bottom: 1.9em;width:80%;margin-left:8%;display: block;border:1px solid #333333;background-color:black;margin-left:8%;border-radius:5px;color:white;-webkit-border-radius:5px;-moz-border-radius:5px;}

body form input[type='reset'],body form input[type='hidden'],
{padding: 0.2em;margin-bottom: .5em;width:80%;margin-left:8%;display: block;border:1px solid #333333;background-color:black;color:white;}

/* text|password|checkbox|radio|submit|reset|file|hidden|image|button */

body form input[type='radio'], body form input[type='checkbox'],
body form input[type="image"],
{margin:0.1em 0em;padding: 0;border:1px solid #333333;width:80%;margin-left:8%;}
body select {margin-bottom: 0;}
body input[type='button'] {padding: 1em 1.3em;color: #666666;margin: 1em 0em;margin-left:13%;}



/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}



/* messages:to be re-styled progressively */
.message {margin-top:3px;margin-bottom:3px;padding: 5px;
background-color: #4A4A4A;border-radius:5px;}
.message_info { background-color: #4A4A4A; }
.msg-text { color: white;text-align:center;}
.success-text {color:white;font-weight:bolder;}

.message_error {color:#B22222;}
.message_error h4 { color: #af4949; } 


/*  Footer:background-color:#f1e7d4; */


.footer {background-color:#F6F6F6;color:black;font-size:0.8em;border-top:85px solid #F6F6F6;text-align:center;border-bottom:100px solid #F6F6F6;} 
.item-spacing {font-weight:bolder;padding:5px;margin-right:3%;} .dot {font-weight:bolder;color:black;font-size:larger;}


