                        {% extends "core.html" %}
                        
                           {% block nav %}
                         <nav class="nav centerpiece">
                           <ul>
	    
	  <li class="current"><a href="{% url 'watchlist' %}">WatchList</a></li>
	       <li><a href="{% url 'tv' %}">Movies</a></li>
	        <li><a href="{% url 'series' %}">Series</a></li>
	         <li><a href="{% url 'tv' %}">T.V Guide</a></li>
	         <li><a href="{% url 'classics' %}">Classics</a></li>
	         
     
                             </ul>
                                
                                
                                </nav>
                            {% endblock %}
                            
                           
