                             <div class="fieldWrapper">
              <span class="required">{{ form.username.errors }}</span>
                           <label for="id_username">
                    <span class="align-field"> Phone Number</span>
                               {{ form.username}} 
                                    </div>
                                    
                              <div class="fieldWrapper">
                 <span class="required">{{ form.password.errors }}</span>
                           <label for="id_password1"> 
             <span class="align-field">Password</span></label>
                               {{ form.password }} 
                                      </div>
