                            <div class="fieldWrapper">
<span class="required align-center">{{ form.full_name.errors }}</span>
             <label for="id_full_name" > 
        <span class="align-field" >First & Last Name</span>
        
                              {{ form.full_name}} 
                
                                     </div>
                                     
                            <div class="fieldWrapper">
              <span class="required">{{ form.phone_number.errors }}</span>
                             <label for="id_phone_number">
                 <span class="align-field"> Phone Number</span>
                              {{ form.phone_number}} 
                                    </div>
                      
                      <div class="fieldWrapper">
               <span class="required">{{ form.photo.errors }}</span>
		            <label for="id_photo"> 
                <span class="align-field">Profile Photo</span>
                                   </label>
               <span class="align-field" > {{ form.photo }}</span>
    			       </div>
    			       
    			       
    			 <div class="fieldWrapper">
                 <span class="required">{{ form.password1.errors }}</span>
                           <label for="id_password1"> 
             <span class="align-field">Choose Password</span></label>
                              {{ form.password1 }} 
                                      </div>
