                             {% extends "core.html" %}
                             
                             {% block nav %}
                         <nav class="nav centerpiece">
                           <ul>
	    <span class="logo align-left"> Kenstream </span>
	  <li class="current"><a href="{% url 'watchlist' %}">WatchList</a></li>
	       <li><a href="">My Reviews</a></li>
	        <li><a href="">Account</a></li>
	         
                             </ul>
                                
                                
                                </nav>
                            {% endblock %}
