
   <div class="pure-input-1-12 widener">
    <span class="required">{{ form.title.errors }}</span>
        	 {{ form.title }} 
    			</div>
    			
    	<div class="pure-input-1-12 widener">
    <span class="required">{{ form.genre.errors }}</span>
    <label for="id_genre"> 
<span class="align-field"> </span></label>
        	 {{ form.genre }} 
    			</div>
    			
    	<div class="pure-input-1-12 widener">
    <span class="required">{{ form.poster.errors }}</span>
        	 {{ form.poster }} 
    			</div>
    			
    	<div class="pure-input-1-12 widener">
    <span class="required">{{ form.rating.errors }}</span>
    <label for="id_rating"> 
<span class="align-field">Rate Item </span></label>
        	 {{ form.rating }} 
    			</div>
    			
    <div class="pure-input-1-12 widener">
    <span class="required">{{ form.review.errors }}</span>
    <label for="id_review"> 
<span class="align-field">Review </span></label>
        	 {{ form.review }} 
    			</div>

