
                               {% load comments %}
                               
                               <article class="comment-form">
          <form action="{% comment_form_target %}" method="post">{% csrf_token %}
                             {% csrf_token %}
        
                          {% include "comment_base.html" %}
                           

   
          <input type="hidden" name="next" value="{% url 'movie' movie.slug  %}" />
               <input class="comment-button" name="post" value="Post comment" type="submit"/>

                                    </form>
                                  </article>
