                               {% load comments %}
                               
                       {% get_comment_list  for movie as comment_list %}
                       
                           {% for comment in comment_list %}
    
                          <article class="comment">
                          <p>
            <img class="commentImg" src ="{{MEDIA_URL}}img/fresher.jpg" />
            <span class="comment-stamp micro-copy">
      <b>{{comment.user.full_name}}</b>    |   {{ comment.submit_date|timesince }} ago 
      </span>
      </p>
      
          <p>{{ comment.comment|safe|linebreaks|truncatechars:250 }}</p>
            
            
               
          
                                </article>
   
        
  
                              {% endfor %}

