                               {% load comments %}
                               
                       {% get_comment_list  for article as comment_list %}
                       
                           {% for comment in comment_list %}
    
                        <div class="paragraph">
            <img class="content-Img"  src ="{{comment.user.photo.url}}" />
            
                       <span class="align-right">
           <p class="align-center micro-copy">
      <b>{{comment.user.full_name}}</b>    |   {{ comment.submit_date|timesince }} ago 
      </p>
     
           </span><br/>
            
           <p>{{ comment.comment|safe|linebreaks|truncatechars:250 }}</p>
           
      
               
          
                                </div>
   
        
  
                              {% endfor %}

