                           {% extends "core.html" %}
                              {% block nav %}
                         <nav class="nav centerpiece">
                           <ul>
	    
	      <li><a href="{% url 'watchlist' %}">WatchList</a></li>
	       <li><a href="{% url 'discover' %}">Discover</a></li>
	        <li><a href="{% url 'series' %}">Series</a></li>
	         <li><a href="{% url 'tv' %}">T.V Guide</a></li>
	         
	         
     
                             </ul>
                                
                                
                                </nav>
                               {% endblock %}
                            
                    {% block content %}
                   <h3 class="centerpiece">
			{% if movie %}
			Edit Review
			{% else %}
			Write a Review
			{% endif%}
                          </h3>
                       <section>
                   <article class="wideCard ">
                
<form class="pure-form"  action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
                   {{form.non_field_errors }}
                   

    		   {% include "movie.html" %}

     <input type="submit" class="button" name="submit" value="Post" id="submit" />
        </form>
           </article>
             </section>
                       {% endblock %}
