                               {% extends "core.html" %}
                        
                                   {% block nav %}
                         <nav class="nav centerpiece">
                           <ul>
	    
	     <li><a href="{% url 'watchlist' %}">WatchList</a></li>
	        <li><a href="{% url 'series' %}">Series</a></li>
	         <li><a href="{% url 'tv' %}">T.V Guide</a></li>
	         <li><a href="{% url 'classics' %}">Classics</a></li>
	         
     
                             </ul>
                                
                                
                                </nav>
                                  {% endblock %}
                               
                                {% block content %}
                             
                                
                                  <section class="story">
                                  
                                     <section>
                                     
                                     <article>
     <img class="mainPoster" src ="{{MEDIA_URL}}img/interstellar.jpg" />
                                     </article>
     
                          
                         <h1 class="centerpiece">{{movie.title|safe|title}}</h1> 
                                      
                   
                                      </section>
                                      
                                      <section>
             <article class="mainReview"><p>{{movie.review|safe|linebreaks}}</p></article>
                                       </section>
             
                              {% if user.is_admin %}
                                  
    <p><a class="author" href="{% url 'edit' movie.slug %}"> Edit Review </a></p>
                            
                                 {% else %}
                                 
                       {% if user.id == movie.user.id %}
  <p><a class="author" href="{% url 'edit' movie.slug %}"> Edit Your Review </a></p>
                                {% endif %}
                                
                                 {% endif %}
                                 </article>
                          
                                   <section>
                              <article class="author">
                 
                <img class="authorImg" src ="{{MEDIA_URL}}img/fresher.jpg" />
             <p class=""><b>{{movie.user.full_name|title}}</b></p>
               <p class=""> {{movie.timestamp|timesince}} ago </p>
                                 </article>
                                   </section>
                                   
                                   </section>
                                
                                 {% endblock %}
