                     <fieldset class="pure-group">
    <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
     <input type="text" class="pure-input-1-2"  id="id_" placeholder="">
                           </fieldset>
