                        
                  
                           
                             <div class="fieldWrapper">
           <span class="required align-center">{{ form.title.errors }}</span>
                        <label for="id_title" > 
            <span class="align-field" >Title</span>
                              {{ form.title}} 
                                   </div>
                                     
                            <div class="fieldWrapper">
              <span class="required">{{ form.genre.errors }}</span>
                             <label for="id_genre">
                 <span class="align-field"> Select Genre</span>
                <span class="align-field">{{ form.genre}} </span>
                                    </div>
                      
                      <div class="fieldWrapper">
               <span class="required">{{ form.poster.errors }}</span>
		            <label for="id_poster"> 
                <span class="align-field">Upload Poster</span>
                                   </label>
               <span class="align-field" > {{ form.poster}}</span>
    			       </div>
    			       
    			       
    			 
                            
                            <div class="fieldWrapper">
                 <span class="required">{{ form.review.errors }}</span>
                           <label for="id_review"> 
             <span class="align-field">Write Review</span></label>
                                {{ form.review }} 
                                      </div>



    
